.content {
    .text {
        margin-right: 5%;

        p {
            color: #ABB2BF;
            font-size: 16px;
            margin-top: 5%;
        }
    }

    #hero {
        width: 100%;
    }
}


.content #hero .img {
    position: relative;
    width: 60%;
}

.content .img .picture {
    position: relative;
    z-index: 1;
    width: 100%;
}

.content .img .dots {
    position: absolute;
    top: 65%;
    right: 8%;
    z-index: 2;
}

.content .img .logo {
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 0;
}

.currently-working {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    left: 10px;
    justify-content: flex-start;
    align-items: center;
    border: white 1px solid;
}

.currently-working .square {
    width: 20px;
    height: 20px;
    background-color: #C778DD;
    margin: 8px;
}

.content .about-me {
    position: relative;
    margin: 10% 0;
}

.content .about-me .row {
    justify-content: flex-start;
    margin-bottom: 25px;
}

.content .about-me .row p,
a {
    font-size: 35px;
}

.content .about-me .row a:hover {
    color: white;
}

.about-me .about-me-text {
    width: 90%;
}

.about-me .about-me-text p {
    color: #ABB2BF;
    font-size: 16px;
    margin-bottom: 20px;
}

.about-me .absolute {
    right: -12.5%;
    top: 35%;
    overflow: hidden;
}

.projects {
    position: relative;

    a:hover {
        color: white;
    }
}

#projects-title {

    .hash {
        font-size: 35px;
    }

    .pink-line {
        width: 33%;
    }
}

.view-all {
    font-size: 16px;
    margin-right: 2%;
    text-wrap: nowrap;
}

.projects #all-projects {
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
}

.one-project {
    border: 1px solid white;
    width: 32%;
}

.one-project .img {
    width: 100%;
}

.one-project .img img {
    width: 100%;
    border-bottom: 1px solid white;
}

.one-project .skills {
    padding: 2%;
    padding-bottom: 3%;
    border-bottom: 1px solid white;
}

.one-project .skills .row {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.one-project .skills p {
    color: #ABB2BF;
    padding: 1px 5px;
}

.one-project .desc {
    padding: 5%;

    .title {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 500;
    }

    .desc-text {
        color: #ABB2BF;
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.projects .absolute {
    bottom: 30%;
    left: -17%;
}

@media screen and (max-width: 1050px) {
    #hero {
        flex-direction: column;
        margin-top: 150px;
    }
}

@media screen and (max-width: 850px) {
    .absolute {
        display: none;
    }

    #hero {
        margin-top: 130px;
    }

    #hero .text {
        margin-right: 0;
        text-align: center;
        width: 100%;

        h2 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }
    }

    .content #hero .img {
        margin-top: 40px;
        width: 80%;

        .logo {
            width: 90%;
            top: 15px;
            left: 10px;
        }

        .picture {
            width: 100%;
        }

        .dots {
            display: none;
        }

        .currently-working {
            width: 80%;
            left: 27px;

            .square {
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }

            p {
                font-size: 12px;
                margin: 5px 0;
            }
        }
    }

    .content .about-me {
        margin-top: 100px;
    }

    .content .about-me .row p,
    a {
        font-size: 20px;
    }

    .about-me .about-me-text {
        width: 100%;
        text-align: center;
    }

    .about-me .about-me-text p {
        font-size: 12px;
    }

    .projects {
        margin-top: 100px;
    }

    .projects #projects-title {

        .pink-line {
            width: 40%;
        }

        .view-all {
            font-size: 12px;
        }

        .hash {
            font-size: 20px;
        }
    }

    .projects #all-projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .one-project {
            width: 80%;
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 450px) {
    .projects #projects-title .pink-line {
        display: none;
    }
}

.skills-section {
    position: relative;
    width: 100%;
    margin: 10% 0;

    a:hover {
        color: white;
    }
}

.skills-section .animation {
    position: relative;
    width: 40%;
    height: 350px;

    .dots {
        position: absolute;
        width: 75px;
        top: 16%;
        left: 10%;
    }

    .rectangle {
        position: absolute;
        width: 100px;
        top: 5%;
        right: 16%;
    }

    .logo {
        position: absolute;
        width: 130px;
        top: 60%;
        left: 11%;
    }

    .dots2 {
        position: absolute;
        width: 68px;
        top: 45%;
        left: 45%;
    }

    .rectangle2 {
        position: absolute;
        width: 58px;
        top: 70%;
        right: 10%;
    }
}

.skills-section .all-skills {
    position: relative;
    width: 55%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .skills-row {
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .one-set {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid white;
        margin-top: 8%;

        .title {
            width: 100%;
            border-bottom: 1px solid white;

            p {
                font-size: 20px;
                padding: 8px;
                font-weight: 500;
            }
        }

        .one-skill {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 5px;

            p {
                font-size: 16px;
                padding: 3px 8px;
                color: #ABB2BF;
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .skills-section .hash {
        font-size: 20px;
    }

    .skills-section .animation {
        display: none;
    }

    .skills-section .all-skills {
        width: 100%;
        flex-direction: column;
        align-items: center;

        .skills-row {
            width: 90%;
        }
    }
}

.contact-section {
    position: relative;
    width: 100%;
    margin: 10% 0;
    margin-top: 15%;

    a:hover {
        color: white;
    }
}

.contact-form {
    position: relative;
    width: 40%;
    height: 100%;
    margin: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    p {
        color: #ABB2BF;
        width: 100%;
    }

    form {
        width: 100%;
        margin: 3% 0;

        .form-row {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .row input {
                width: 47%;
                height: 25px;
                background-color: #282C33;
                border: 1px solid #ABB2BF;
                color: white;
                padding: 1%;
                font-family: 'FiraCode', monospace;

                &:focus {
                    outline: none;
                }
            }

            input {
                width: 98%;
                height: 25px;
                background-color: #282C33;
                border: 1px solid #ABB2BF;
                color: white;
                padding: 1%;
                margin: 2% 0;
                font-family: 'FiraCode', monospace;

                &:focus {
                    outline: none;
                }
            }

            textarea {
                width: 98%;
                height: 100px;
                background-color: #282C33;
                border: 1px solid #ABB2BF;
                color: white;
                padding: 1%;
                margin: 2% 0;
                font-family: 'FiraCode', monospace;
                resize: none;

                &:focus {
                    outline: none;
                }
            }
        }

    }
}

.media-info {
    position: relative;
    width: 40%;
    height: 400px;

    .media {
        position: absolute;
        top: 13%;
        left: 5%;
        width: 60%;
        border: 1px solid #ABB2BF;
        padding: 5%;

        .row {
            width: 100%;
            justify-content: flex-start;
            margin-bottom: 2%;

            p {
                padding-left: 5px;
                color: #ABB2BF;
                font-size: 14px;
            }
        }

        img {
            width: 32px;
        }
    }
}

@media screen and (max-width: 1330px) {
    .media-info .media {
        width: 75%;

        p {
            font-size: 14px;
        }

        .row p {
            font-size: 12px;
        }
    }

    .media-info .media img {
        width: 24px;
    }
}

@media screen and (max-width: 850px) {
    .contact-section .hash {
        font-size: 20px;
    }

    .contact-form {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            width: 100%;
            font-size: 12px;
        }

        form {
            width: 100%;

            .form-row .row {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                input {
                    width: 100%;
                }
            }

            .form-row input {
                width: 100%;
            }

            .form-row textarea {
                width: 100%;
            }
        }
    }

    .media-info {
        display: none;
    }
}