@font-face {
    font-family: 'FiraCode';
    src: url('../assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
}

html {
    font-family: 'FiraCode', monospace;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: #ABB2BF;
    }
}

body {
    background-color: #282C33;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.absolute {
    position: absolute;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: #282C33;
    z-index: 9999999;
}

#navbar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.line-and-links {
    position: absolute;
    left: 25px;
    top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #282C33;
}

.line {
    width: 1px;
    height: 185px;
    background-color: #ABB2BF;
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    padding: 0;
}

ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 0;
}

.hash {
    color: #C778DD;
    font-weight: bold;
}

ul li p {
    font-size: 16px;
}

ul li a {
    font-size: 16px;
}

ul #language {
    background: transparent;
    border: none;
    color: white;
    padding-top: 3px;
}

#language .option {
    width: 100%;
    height: 100%;
    color: black;
}

#profile {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 0;
    margin-left: 12%;

    &:hover {
        color: #ABB2BF;
    }
}

.mobile-nav {
    display: none;
}

.content {
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 10%;
}

.content .text {
    margin-right: 5%;
}

.content .text p {
    color: #ABB2BF;
    font-size: 16px;
    margin-top: 5%;
}

.btn {
    width: 150px;
    height: 40px;
    margin-top: 5%;
    background: none;
    border: #C778DD 1px solid;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'FiraCode', monospace;

    &:hover {
        background-color: rgb(199, 120, 221, 0.2);
        transition: 0.5s;
    }
}

.content #hero {
    width: 100%;
}

.content #hero .img {
    position: relative;
    width: 60%;
}

.content .img .picture {
    position: relative;
    z-index: 1;
    width: 100%;
}

.content .img .dots {
    position: absolute;
    top: 65%;
    right: 8%;
    z-index: 2;
}

.content .img .logo {
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 0;
}

.currently-working {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    left: 10px;
    justify-content: flex-start;
    align-items: center;
    border: white 1px solid;
}

.currently-working .square {
    width: 20px;
    height: 20px;
    background-color: #C778DD;
    margin: 8px;
}

.content .about-me {
    position: relative;
    margin: 10% 0;
}

.content .about-me .row {
    justify-content: flex-start;
    margin-bottom: 25px;
}

.content .about-me .row p,
a {
    font-size: 35px;
}

.content .about-me .row a:hover {
    color: white;
}

.pink-line {
    width: 50%;
    height: 1px;
    background-color: #C778DD;
    margin-left: 20px;
}

.about-me .about-me-text {
    width: 90%;
}

.about-me .about-me-text p {
    color: #ABB2BF;
    font-size: 16px;
    margin-bottom: 20px;
}

.about-me .absolute {
    right: -13.5%;
    top: 0;
}

.projects {
    position: relative;

    a:hover {
        color: white;
    }
}

#projects-title .hash {
    font-size: 35px;
}

.view-all {
    font-size: 16px;
    margin-right: 2%;
    text-wrap: nowrap;
}

.projects #all-projects {
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
}

.one-project {
    border: 1px solid white;
    width: 32%;
}

.one-project .img {
    width: 100%;
}

.one-project .img img {
    width: 100%;
    border-bottom: 1px solid white;
}

.one-project .skills {
    padding: 2%;
    padding-bottom: 3%;
    border-bottom: 1px solid white;
}

.one-project .skills .row {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.one-project .skills p {
    color: #ABB2BF;
    padding: 1px 5px;
}

.one-project .desc {
    padding: 5%;

    .title {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 500;
    }

    .desc-text {
        color: #ABB2BF;
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.projects .absolute {
    bottom: 30%;
    left: -17%;
}

@media screen and (max-width: 1050px) {
    #hero {
        flex-direction: column;
        margin-top: 150px;
    }
}

@media screen and (max-width: 850px) {
    .line-and-links {
        display: none;
    }

    .content {
        width: 100%;
        margin-top: 10%;
        margin-left: 7%;
        margin-right: 4%;
    }

    #profile {
        margin-left: 7%;
    }

    .nav {
        display: none;
    }

    .navbar {
        width: 99%;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        background-color: #282C33;
        z-index: 9999999;
        width: 50px;
        margin-right: 5%;

        .line-one {
            width: 100%;
            height: 1px;
            background-color: white;
            margin-bottom: 10px;
        }

        .line-two {
            width: 70%;
            height: 1px;
            background-color: white;
        }
    }

    #hero {
        margin-top: 130px;
    }

    #hero .text {
        margin-right: 0;
        text-align: center;
        width: 100%;

        h2 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }
    }

    .content #hero .img {
        margin-top: 40px;
        width: 80%;

        .logo {
            width: 90%;
            top: 15px;
            left: 10px;
        }

        .picture {
            width: 100%;
        }

        .dots {
            display: none;
        }

        .currently-working {
            width: 80%;
            left: 27px;

            .square {
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }

            p {
                font-size: 12px;
                margin: 5px 0;
            }
        }
    }

    .content .about-me {
        margin-top: 100px;
    }

    .content .about-me .row p,
    a {
        font-size: 20px;
    }

    .about-me .about-me-text p {
        font-size: 12px;
    }

    .about-me .absolute {
        top: 150px;
    }

    .projects {
        margin-top: 100px;
    }

    .projects #projects-title {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .view-all {
            display: none;
        }

        .hash {
            font-size: 20px;
        }
    }

    .projects #all-projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .one-project {
            width: 80%;
            margin-bottom: 50px;
        }
    }
}