.page-title-container {
    margin-bottom: 6%;

    .page-title {
        margin-bottom: 15px;
    }
}

.page-title-container .page-desc {
    font-size: 16px;
    color: #ABB2BF;
}

.projects-page {
    margin-top: 8%;

    .row {
        justify-content: flex-start;
    }
}

.projects-page .projects {
    margin-bottom: 5%;
}

.projects-page .projects {
    position: relative;
}

.projects-page .projects .section-title {
    margin-bottom: 0;
}

.projects-page .projects > .row > a {
    font-size: 35px;
}

.projects-page .projects > .row > a:hover {
    color: white;
}

#projects-title {

    .hash {
        font-size: 35px;
    }

    .pink-line {
        width: 33%;
    }
}

.projects-page .projects .all-projects {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
}

.projects-page .one-project {
    border: 1px solid white;
    width: 30%;
    margin-right: 25px;
    margin-bottom: 15px;
}

.projects-page .one-project .img {
    width: 100%;
}

.projects-page .one-project .img img {
    width: 100%;
    border-bottom: 1px solid white;
}

.projects-page .one-project .skills {
    padding: 2%;
    padding-bottom: 3%;
    border-bottom: 1px solid white;
}

.projects-page .one-project .skills .row {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.projects-page .one-project .skills p {
    color: #ABB2BF;
    padding: 1px 5px;
}

.projects-page .one-project .desc {
    padding: 5%;

    .title {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 500;
    }

    .desc-text {
        color: #ABB2BF;
        font-size: 16px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 850px) {
    .projects-page .projects > .row > a,
    .projects-page .projects .hash {
        font-size: 20px;
    }

    .projects-page .projects .pink-line {
        width: 40%;
    }

    .projects-page .projects .all-projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects-page .one-project {
        width: 80%;
        margin-right: 0;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 450px) {
    .projects-page .projects .pink-line {
        display: none;
    }
}
